html {
    background-color: rgb(24, 23, 23);
    height: 100vh;
    position: relative;
    color: whitesmoke;
}

a, a:active, a:visited { 
    color: rgb(143, 224, 51);    
    text-decoration: none;
    padding: 2px;
}

a:hover {
    color: rgb(8, 8, 8);
}

/* Header */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;
    font-size: 22px;
}

h1 {
    margin-bottom: -4px;
}

h2 {
    color: darkseagreen;
    margin-bottom: -4px;
}

h3 {
    color: mediumslateblue;
    font-style: italic;
    margin-bottom: 40px;
}

/* Button options */
.optionBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    margin: 10px 400px;
    padding: 10px;
}

.optionBtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a5d97;
    border: 2px solid #e4942b;
    box-shadow: 0 0 .5rem #f7c436;
    width: 130px;
    height: 120px;
    margin: 1rem;
    transition: all 0.9s ease;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    color: black;
}

.resetBtn {
    display: flex;
    align-items: center;
}

#reset {
    background-color: rgb(43, 43, 43);
    border: 3px solid blanchedalmond;
    width: 140px;
    height: 30px;
    font-size: 16px;
    border-radius: 14px;
    color: white;
    margin-top: 60px;
}

button:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

/* Scores and Boxes */
.labels {
    display: flex;
    width: 370px;
    justify-content: space-between;
    color: white;
    opacity: 0.8;
    padding: 2px;
}

.score, .roundText {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
}

.playerText, .compText {
    justify-content: space-around;
    border: none;
    font-style: italic;
    color: rgb(78, 231, 236);
    font-size: 16px;
    width: 200px;
}

.roundResults {
    width: 270px;
    border: none;

}

.borderGreen {
    border: 2px dotted green;
    border-radius: 8px;
    box-shadow: 0 0 .7rem green;
}

.borderRed {
    border: 2px dotted red;
    border-radius: 8px;
    box-shadow: 0 0 .7rem red;
}

.borderYellow {
    border: 2px dotted yellow;
    border-radius: 8px;
    box-shadow: 0 0 .7rem yellow;
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 100px -8px -8px;
    height: 40px;
    padding: 8px;
    background-color: rgb(26, 37, 46);
}