@font-face {
    font-family: ARCADECLASSIC;
    src: url(./fonts/ARCADECLASSIC.TTF);
}

html {
    background-color: rgb(24, 23, 23);
    height: 100vh;
    position: relative;
    color: whitesmoke;
}

a, a:active, a:visited { 
    color: rgb(143, 224, 51);    
    text-decoration: none;
    padding: 2px;
}

a:hover {
    color: rgb(8, 8, 8);
}

/* Header */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;
    font-size: 22px;
}

h1 {
    font-family: ARCADECLASSIC;
    margin-bottom: -4px;
}

h2 {
    color: darkseagreen;
    margin-bottom: -4px;
}

h3 {
    color: mediumslateblue;
    font-style: italic;
    margin-bottom: 18px;
}

/* Button options */
.optionBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    margin: 10px 400px;
    padding: 10px;
}

.optionBtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a5d97;
    border: 2px solid #e4942b;
    box-shadow: 0 0 .5rem #f7c436;
    width: 130px;
    height: 120px;
    margin: 1rem;
    transition: all 0.9s ease;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    color: black;
}

.optionBtn button:hover {
    background-color: rgb(79, 167, 79);
}

.resetBtn {
    display: flex;
    align-items: center;
}

#reset {
    background-color: rgb(43, 43, 43);
    border: 3px solid blanchedalmond;
    width: 140px;
    height: 30px;
    font-size: 16px;
    border-radius: 14px;
    color: white;
}

button:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

/* Scores and Boxes */
#finalResults {
    justify-content: flex-start;
    border: none;
    height: 80px;
    width: 180px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
}

#finalResults.rainbow-border {
    --angle: 0deg;
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.labels {
    display: flex;
    width: 370px;
    justify-content: space-between;
    color: white;
    opacity: 0.8;
    padding: 2px;   
}

.score, .roundText {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
}

.playerText, .compText {
    justify-content: space-around;
    border: none;
    font-style: italic;
    color: rgb(223, 247, 86);
    font-size: 16px;
    width: 200px;
}

.roundResults {
    border: none;
    width: 600px;
    height: 50px;
}

.borderGreen {
    border: 2px dotted green;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 .7rem green;
}

.borderRed {
    border: 2px dotted red;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 .7rem red;
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 20px -8px -8px;
    height: 40px;
    padding: 8px;
    background-color: rgb(26, 37, 46);
}